# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Environment
.env
.env.*
!.env.example

# Netlify
.netlify

# Logs and OS
logs
*.log
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea
